backtests/
__pycache__/blee.cpython-312.pyc
__pycache__/datamodel.cpython-312.pyc
__pycache__/kelp_strategy.cpython-312.pyc
__pycache__/main.cpython-312.pyc
__pycache__/main2.cpython-312.pyc
__pycache__/main3.cpython-312.pyc
__pycache__/resin_strategy.cpython-312.pyc
__pycache__/Roundv1.cpython-312.pyc
__pycache__/squid_ink_strategy.cpython-312.pyc
__pycache__/template.cpython-312.pyc
__pycache__/tester.cpython-312.pyc
__pycache__/tutorialfinal.cpython-312.pyc
/island-data-bottle-round-1/
./island-data-bottle-round-3/
/2025_data_bottle/
/2024_data_bottle/
/2023_data_bottle/

.gitignore
control.csv
submissions/2025-04-10_00-10-57.log
ROUND 3/round-3-island-data-bottle/prices_round_3_day_0.csv
ROUND 3/round-3-island-data-bottle/prices_round_3_day_1.csv
ROUND 3/round-3-island-data-bottle/prices_round_3_day_2.csv
ROUND 3/round-3-island-data-bottle/trades_round_3_day_0.csv
ROUND 3/round-3-island-data-bottle/trades_round_3_day_1.csv
ROUND 3/round-3-island-data-bottle/trades_round_3_day_2.csv
ROUND 2/__pycache__/round2.cpython-312.pyc
ROUND 2/__pycache__/round2v2.cpython-312.pyc
ROUND 1/__pycache__/datamodel.cpython-312.pyc
ROUND 1/__pycache__/Round1.cpython-312.pyc
ROUND 2/__pycache__/datamodel.cpython-312.pyc
ROUND 3/__pycache__/datamodel.cpython-312.pyc
.gitignore
ROUND 3/round3v1.py
.gitignore
ROUND 3/__pycache__/
ROUND 3/__pycache__/round3v1.cpython-312.pyc
